.checkoutProduct {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: white;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
    padding: 20px;
    
    
}

.checkoutProduct__info {
    padding-left: 20px;
    padding: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    /* font-weight: 800; */
    margin-bottom: -10px;
}

.checkoutProduct__price {
    margin-top: 10px;
    margin-bottom: 28px;
}

.checkoutProduct__rating {
    display: flex;
    margin-top: -30px;
    margin-bottom: -10px;
}

.checkoutProduct__icon {
    color: #f0c14b;
  }

.checkoutProduct__info > button {
        background: #ffa41c;
        border: 1px solid;
        margin-top: 10px;
        border-color: #a88734 #9c7e31 #846a29;
        color: #111;
        cursor: pointer;

}