.payment {
    background-color: gainsboro;
}

.payment__container > h3 {
    text-align: center;
    padding: 10px;
    font-weight: 700;
    background-color: rgb(237, 237, 234);
    border-bottom: 1px solid darkgrey;
}

.payment__container > h3 a {
    text-decoration: none;
}

.payment__section {
   display: flex;
   padding: 20px;
   margin: auto;
   border-bottom: 1px solid darkgrey;
}

.payment__title {
    flex: 0.21;
    text-align: left;
    padding-top: 15px;
}

.payment__address, .payment__items, .payment__details {
    flex: 0.79
}

.payment__items {
    margin-top: -7px;
}

.payment__total {
    margin-top: 18px;
    font-weight: 500;
}

.payment__address > p {
    font-weight: 500;
}

