.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 380px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product__info {
  margin-top: 10px;
  height: 100px;
  margin-bottom: 30px;
}

.product__price {
  margin-top: -10px;
}

.product__rating {
  display: flex;
  margin-top: -20px;
}

.product__icon {
  color: #f0c14b;
}

.product > img {
  margin-top: -15px;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #ffa41c;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #a3a3a3;
  cursor: pointer;
}
